<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
        <plist version="1.0">
            <dict>
                <key>items</key>
                <array>
                    <dict>
                        <key>assets</key>
                        <array>
                            <dict>
                                <key>kind</key>
                                <string>software-package</string>
                                <key>url</key>
                                <string>https://onedrive.gimhoy.com/sharepoint/aHR0cHM6Ly9qeGpqeHktbXkuc2hhcmVwb2ludC5jb20vOnU6L2cvcGVyc29uYWwvZnRjY2p5amtsX3Rfb2RtYWlsX2NuL0VkdVRqVWREaVFkQ3F4eEliQWFSSWlVQmRPRGdHVTZHa1V5cmJMUW80dGQ2ZGc/ZT1LaGxVY2U=.ipa</string>
								</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.nianticlabs.pokemongo</string>
<key>bundle-version</key>
<string>0.137.1b</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>下载</string>
<key>title</key>
<string> iSpoofer PokemonGO</string>
</dict>
</dict>
</array>
</dict>
</plist>
